---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import About from '../components/About';
import Products from '../components/Products';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Freakscode - Soluciones Tecnológicas Innovadoras">
	<main>
		<Navbar client:load />
		<Hero client:load />
		<About client:load />
		<Products client:load />
	</main>
</Layout>
